<a href="https://colab.research.google.com/github/wellaboriol/BSCPE-1-2-CPEN21A/blob/main/Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Introduction to Python

In [1]:
#Python Indention
if 4>2:
  print("four is greater than two")

four is greater than two

In [2]:
x=2 #This is a single variable with single value
x,y=2,4 #These are two variables with two different values
print(x)
print(y)

2
4

In [4]:
age = 19
name = "Freya"
print(age)
print(name)

19
Freya

###Casting

In [7]:
a = int(8)
a
b = float(8)
b

8.0

###Type Function

In [8]:
x=7
y='grey'

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

###Case Sensitive

In [10]:
a = "red"
A = "Red"
print(a)
print(A)

red
Red

###Multiple Variables

In [11]:
x=y=z=8
print(x)
print(y)
print(z)

8
8
8

In [12]:
x = "enjoying"
print("Python Programming is " + x)

Python Programming is enjoying

In [13]:
c,d=3,6
print(c+d)
print(c-d)
print(c*d)
print(c/d)

9
-3
18
0.5

In [15]:
c+=3 #This is the same as x = x + 3
print(c)

9

In [18]:
e=9
f=12
g=15
h=18

In [19]:
e<f and g<h

True

In [20]:
e is f

False

In [21]:
f is not h

True